<div id="titlelogo"><img src="../assets/tategakilogo.png?body=1" width="100" height="135"
  title="たてこと縦書言葉 | 川柳..を投稿しよう！"></div>
<div  class="metro">
  <h1 class="start"></h1>
  <div class="metro-sections">
    <div class="metro-section" id="section1">
      <a data-next="#section3" data-prior="#section2" href="#" class="next-section"></a>

      <% @posts.each_with_index do | post, i | %>
       <% if i == 0 %>
        <div class="tile">
          <div class="tile-icon-large img01">
            <% post.body.split(/ /).each_with_index do |block,i| %>
              <span> <%= '　'*i + block %> </span>
            <% end %>
          </div>
        </div>
       <% elsif i == 1 %>
        <div class="tile bg-color-orange">
          <div class="tile-icon-large img02">
            <% post.body.split(/ /).each_with_index do |block,i| %>
              <span> <%= '　'*i + block %> </span>
            <% end %>
          </div>
        </div>

       <% elsif i == 2 %>
       <div class="tile bg-color-pink">
        <div class="tile-icon-large img03">
            <% post.body.split(/ /).each_with_index do |block,i| %>
              <span> <%= '　'*i + block %> </span>
            <% end %>
        </div>
       </div>

       <% elsif i == 3 %>
       <div class="tile bg-color-yellow">
        <div class="tile-icon-large  img04">
            <% post.body.split(/ /).each_with_index do |block,i| %>
              <span> <%= '　'*i + block %> </span>
            <% end %>
        </div>
       </div>

       <% elsif i == 4 %>
       <div class="tile bg-color-green">
        <div class="tile-icon-large  img05">
            <% post.body.split(/ /).each_with_index do |block,i| %>
              <span> <%= '　'*i + block %> </span>
            <% end %>
        </div>
       </div>

       <% elsif i == 5 %>
       <div class="tile bg-color-purple">
        <div class="tile-icon-large img06">
            <% post.body.split(/ /).each_with_index do |block,i| %>
              <span> <%= '　'*i + block %> </span>
            <% end %>
        </div>
       </div>
      <% end %>
     <% end %>

    </div>
  </div>
</div>
<script type="text/javascript">
  $(function(){
    window.prettyPrint && prettyPrint();
  })
  $(".metro").metro();
</script>
