<h1>投稿一覧</h1>

<table width='100%' border='1'>
  <tr bgcolor=>
    <th>No.</th>
    <th>縦書</th>
    <th>タイトル</th>
    <th>本文</th>
    <th>#</th>
    <% if current_user %>
    <th>変更</th>
    <% end %>
    <th>投稿日</th>
  </tr>

<% stripes = [ 'aliceblue', '#d3d9bf' ] %>
<% @posts.each_with_index do |post, i|
     t = DateTime.parse(post.created_at.to_s) + Rational(9,24) %>
  <tr bgcolor=<%= stripes.push(stripes[0]).shift %>>
    <td align='middle'><%= i+1 %></td>
    <td><%= link_to('縦書', post_path(post))%></td>
    <td><%= post.title %></td>
    <td><%= post.body %></td>
    <td><%= post.id %></td>
    <% if current_user %>
      <td><%= link_to('変更', edit_post_path(post))%> </td>
    <% end %>
    <td><%= t.strftime("%Y/%m/%d %H:%M:%S") %></td>
  </tr>
<% end %>
</table>
